MQTT_HOST=192.168.1.10
MQTT_PORT=1883
MQTT_USER=your_user
MQTT_PASS=your_password

# Optional
MQTT_TOPIC_PREFIX=CO2
HA_PREFIX=homeassistant
HA_DISCOVERY_ENABLED=true
DEVICE_ID=co2meter_tfaco2
DEVICE_NAME=TFA CO2 Meter
DEVICE_MODEL=TFACO2 AirCO2ntrol
DEVICE_MANUFACTURER=TFA
MQTT_CLIENT_ID=co2meter_tfaco2-bridge
MQTT_KEEPALIVE=60
DEVICE_PATH=/dev/hidraw0
